*{
  margin: 0;
  padding: 0
}

main{
  width: 1200px;
  max-width: 90%;
  margin: 0 0;
}

body{
  margin: 0;
  padding: 0;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #2D25A0;
    overflow: hidden;
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .text{
      color: wheat;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .first{
    display:flex;
    background-color: #2D25A0;
    width: 100%;
    height: 450px;
    margin-bottom: 10%;
}
.half-width{
    width: 50%
    
}
.header-text{
  font-family: 'Poppins', sans-serif;
  color: white;
  /* margin: 120px 140px; */
  margin-top: 120px;
  margin-bottom: 10px;
  margin-left: 140px;
  margin-right: 140px;
  font-size: 40px;
  
}
.first-image{
  margin-top: 20px;
    background-image: url(images/shapes/7.png);
}
.half-width img{
    
    width: 80%;
}
.watch-live{
  font-family: 'Poppins', sans-serif;
  color: white;
  text-decoration: none;
  background-color: #E02C6D;
  font-size: 30px;
  margin: 120px 140px;
  padding: 0 5px;
}
.player-container{
  padding-top: 70px;
  padding-bottom: 70px;
}
.player{
display:grid;
grid-template-columns: repeat(3, 1fr);
margin-left: 150px;
margin-right: 145px;
column-gap: 30px;
row-gap: 27px;
}
.player-detail{
  width: 330px;
  height: 474px;
  background-color: white;
  box-shadow: 0 0 20px 5px gray;
}
.player-detail img{
  width: 94%;
  height: 45%;
  align-items: center;
  margin: 10px 10px 10px 10px;
}
.player-text{
  margin-left: 10px;
}
p{
  padding-right: 5px;
  justify-content: center;
}

.third{
  display:flex;
  background-color: white;
  width: 100%;
  height: 450px;
  margin-bottom: 10%;

}
.third-text{
  color:#2D25A0;
 
  margin-left: 120px;
  
  font-size: 30px;
}
.third-paragraph{
  text-align: justify;
  margin-top: 8px;
  margin-left: 125px;
  margin-right: 10px;
  margin-bottom: 10px;
}
 
  /* .logo-align{
    
    display: block;
    margin-left: 500px;
    margin-top:  100px;
  }
  .logo-align img{
    width: 30%;
    height: 20%;
  }
  .social-icons{
    
    display: flex;
    width: 10%;
    
    
  }
  .social-icons{
    display:block;
    text-align: center;
    width: 100% ;
    height: 20px;
    padding: 0 20px;
  }
  .social-icons i{
    padding: 10px;
    padding-right: 20px;
  }
  .copyright{
    padding-left: 10px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10%;
    
  }
   */
   .logo-align{
    
    display: block;
    margin-left: 500px;
    margin-top:  100px;
  }
  .logo-align img{
    width: 30%;
    height: 20%;
  }
  .social-icons{
    
    display: flex;
    width: 10%;
    
    
  }
  .social-icons{
    display:block;
    text-align: center;
    width: 100% ;
    
    
  }
  .social-icons i{
    padding: 10px;
    padding-right: 20px;
  }
  .copyright{
    padding-left: 10px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10%;
    
  }
  @media (max-width:992px){
    .player{
      display:grid;
      grid-template-columns: repeat(2, 1fr);
      margin-left: 150px;
      margin-right: 145px;
      column-gap: 30px;
      row-gap: 27px;
      }
  }
  @media (max-width:480px){
    .player{
      display:grid;
      grid-template-columns: repeat(1, 1fr);
      margin-left: 150px;
      margin-right: 145px;
      column-gap: 30px;
      row-gap: 27px;
      }
    
  }